/* ======================================= ABOUT US SECTION CSS START ======================================= */
/* ========================= Banner section start ========================= */

.about-banner {
    position: relative;
    z-index: 1;
    background: url(../img/about_us/3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
}

.about-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
}

.about-banner h2 {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 1;
}

.about-banner ul li:first-child {
    margin-left: 0;
}

.about-banner ul li {
    display: inline-block;
    margin-left: 10px;
    color: #0512D1;
    position: relative;
}

.about-banner ul li a {
    display: block;
    color: #ffffff;
}

.about-banner .about::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    width: 1px;
    height: 13px;
    background-color: #0400ff;
}

/* ========================= /Banner section end ========================= */

/* ========================= Who-We-Are section start ========================= */
.who-we-are {
    z-index: 9;
}

.who-we-are .who-we-are-content span {
    font-size: 20px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.who-we-are .who-we-are-content h3 {
    font-size: 45px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.who-we-are .who-we-are-content p {
    margin-bottom: 0px;
}

.who-we-are .who-we-are-content ul li {
    line-height: 45px;
}

.who-we-are .who-we-are-content ul li span {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 8px;
    border-radius: 50%;
    background: #a59494;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
}

.who-we-are .who-we-are-content ul li:hover span {
    background: #0000ff;
    transition: all 1s linear;
}

/* ========================= /Who-We-Are section end ========================= */
/* ======================================= /ABOUT US SECTION CSS END ======================================= */