/* ======================================= ANIMATION SECTION CSS START ======================================= */

/* ========================= premium-hr section start ========================= */

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ========================= /premium-hr section end ========================= */

/* ======================================= /ANIMATION SECTION CSS END ======================================= */