/* ======================================= INDUSTRY SECTION CSS START ======================================= */
/* ========================= Banner section start ========================= */


.industry-banner {
    position: relative;
    z-index: 1;
    background: url(../img/industry/5.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
}

.industry-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
}

.industry-banner h2 {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 1;
}

.industry-banner ul li:first-child {
    margin-left: 0;
}

.industry-banner ul li {
    display: inline-block;
    margin-left: 10px;
    color: #0512D1;
    position: relative;
}

.industry-banner ul li a {
    display: block;
    color: #ffffff;
    transition: .5s ease-in-out;
}

.industry-banner ul li a.home:hover {
    color: #0400ff !important;
    transition: .5s ease-in-out;
}

.industry-banner .industry-b::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    width: 1px;
    height: 13px;
    background-color: #0400ff;
}

.industry-banner .industry-b {
    transition: .5s ease-in-out;
}

.industry-banner .industry-b:hover {
    color: #ffffff;
    transition: .5s ease-in-out;
}

/* ========================= /Banner section end ========================= */

/* ========================= HOW-WE-DO section start ========================= */

/* rest code is in index.css file case-studies section */

/* ========================= /HOW-WE-DO section end ========================= */

/* ======================================= /INDUSTRY SECTION CSS END ======================================= */