/* ======================================= Services SECTION CSS START ======================================= */
/* ========================= Banner section start ========================= */

.services-banner {
    position: relative;
    z-index: 1;
    background: url(../img/services/5.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-attachment: fixed;
}

.services-banner::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
}

.services-banner h2 {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 1;
}

.services-banner ul li:first-child {
    margin-left: 0;
}

.services-banner ul li {
    display: inline-block;
    margin-left: 10px;
    color: #0512D1;
    position: relative;
}

.services-banner ul li a {
    display: block;
    color: #ffffff;
    transition: .5s ease-in-out;
}

.services-banner ul li a.home:hover {
    color: #0400ff !important;
    transition: .5s ease-in-out;
}

.services-banner .services-b::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    width: 1px;
    height: 13px;
    background-color: #0400ff;
}

.services-banner .services-b {
    transition: .5s ease-in-out;
}

.services-banner .services-b:hover {
    color: #ffffff;
    transition: .5s ease-in-out;
}

/* ========================= /Banner section end ========================= */

/* ========================= Services-content section start ========================= */
.services-title {
    z-index: 9;
}

.services-title .services-title-content span {
    font-size: 20px;
    color: #0400ff;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.services-title .services-title-content h3 {
    font-size: 35px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services-title .services-title-content p {
    margin-bottom: 0px;
}

.services-title .services-title-content ul .services-para p {
    color: #0A0D31;

}

.services-title .services-title-content ul li {
    line-height: 45px;
}

.services-title .services-title-content ul li span {
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 8px;
    border-radius: 50%;
    background: #a59494;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
}

.services-title .services-title-content ul li:hover span {
    background: #0000ff;
    transition: all 1s linear;
}

/* ========================= /Services-content section end ========================= */

/* ========================= /Why choose section end ========================= */

.why-choose .container {
    border-radius: 20px;
    padding: 20px;
    background: #f7f2e2;
    box-shadow: 0px 0px 15px 0px #646464;
}

.why-choose .why-choose-content span {
    font-size: 20px;
    color: #0400ff;
    font-weight: 600;
    font-family: "Sacramento", cursive;
}

.why-choose .why-choose-content h3 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.why-choose .why-choose-content p {
    margin-bottom: 0px;
}

.why-choose .why-choose-image img {
    box-shadow: 0px 0px 15px 0px #32257a;
    border-radius: 5%;
}

/* ========================= /Why choose section end ========================= */

/* ========================= SERVICES section start ========================= */

/* rest code is in index.css file case-studies section */

/* ========================= /SERVICES section end ========================= */

/* ======================================= /Services SECTION CSS END ======================================= */