/* ======================================= UNIVERSAL SECTION CSS START ======================================= */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
}


a {
    text-decoration: none;
    transition: 0.5s;
    color: #1b0238;
}

/* ========================= text color css section start ========================= */
.text-darkblue {
    color: #0A0D31;
}

/* ========================= /text color css section end ========================= */

/* ========================= bg color css section start ========================= */
.bg-sky-blue {
    background: #B6C8E5 !important;
}

/* ========================= /bg color css section end ========================= */


/* ========================= p css section start ========================= */
p {
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* ========================= /p css section end ========================= */

/* ========================= Margin css section start ========================= */
.mx-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}

.mx-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
}

.mx-8 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
}

.mx-9 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
}

.mx-10 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
}

.mx-11 {
    margin-right: 9rem !important;
    margin-left: 9rem !important;
}

.mx-12 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
}

.mx-13 {
    margin-right: 11rem !important;
    margin-left: 11rem !important;
}

.mx-14 {
    margin-right: 12rem !important;
    margin-left: 12rem !important;
}

.mx-15 {
    margin-right: 13rem !important;
    margin-left: 13rem !important;
}

/* ========================= /Margin css section end ========================= */

/* ========================= padding css section start ========================= */
.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-6 {
    padding-bottom: 6px;
}

.pb-1-5 {
    padding-bottom: 0.1px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-100 {
    padding-top: 100px;
}

.ptb-200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

/* ========================= /padding css section end ========================= */
/* ========================= position css section start ========================= */
.end-5 {
    right: 5% !important;
}

.top-15 {
    top: 15% !important;
}

/* ========================= /position css section end ========================= */

a.nav-link {
    color: #000000;
    transition: 0.5s ease-in-out;
}

a.active {
    color: #0000ff !important;
}

.btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #0000ff;
    color: #fff !important;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #2e2e2e;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}

.btn:hover {
    color: #fff;
    background: #0000ff;
    border: 1px solid #2e2e2e;
}

.btn:hover::before {
    height: 100%;
}

/* hr {
    color: #0000ff;
    margin: 0;
    height: 3px;
    border-top: 3px dashed #0051ff;
    background: #2600ff;
    box-shadow: 0 0 15px #001aff, 0 0 30px #00fff0;
} */
.btn2 {
    padding: 10px 10px;
}

.premium-hr {
    position: relative;
    height: 5px;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff0000, #dd2476, #0004ff, #001aff);
    background-size: 600% 600%;
    animation: gradientMove 5s ease infinite;
    box-shadow: 0 0 20px rgba(0, 81, 255, 0.5);
}

/* ======================================= /UNIVERSAL SECTION CSS END ======================================= */